.container{
    width: 22rem;
    display:inline-flex;
    justify-content: center;
    margin-left: 10%;
}
.oneplus-heading{
    text-align: center;
    font-size: 4rem;
    color: #000;
}
@media only screen and (max-width: 600px) {
   .oneplus-heading {
      font-size:  1.5rem;
    }
    .btn{
        margin:0px !important;
       
    }
  }